# Kohana
application/config/database.php
application/cache/*
application/logs/*
installation/logs/*
installation/cach/*

# Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml